<h1>Home#index</h1>
<div class="container">
    <p><%= @timezone %></p>
    <p><%= @daily %></p>
    <h1>현재날씨</h1>
    <div class="well">
    <p>시간(그라니치 기준) : <%=DateTime.strptime(@currentData.time.to_s, '%s') %></p>
    <p>기온 : <%= @currentData.temperature %></p>
    <p>summary : <%= @currentData.summary %></p>
    </div>
    
    <h1>오늘 날씨</h1>
    
    <% @hourlyData.each do |h| %>
        <div class='well'>
        <p> summary : <%= h.summary %></p>
        <p>시간(그라니치 기준) : <%=DateTime.strptime(h.time.to_s, '%s') %></p>
        <p>기온 : <%=h.temperature%></p>
        </div>
    
    <% end %>
    
    <h1>주간 날씨</h1>
    <% @data.each do |d| %>
        <div class='well'>
        <p> summary : <%= d.summary %></p>
        <p>시간(그라니치 기준) : <%=DateTime.strptime(d.time.to_s, '%s') %></p>
        <p>최저 : <%=d.temperatureMin%></p>
        <p>최고 : <%=d.temperatureMax%></p>
        </div>
    <% end %>

    <h1> 안녕 나는 선경이야. 세번째 시도! </h1>

    <h1> 충돌 싫어요!! </h1>
    <h3> 아무 말 </h3>

    <h2> 나는 민현이다.</h2>
    <h3> 나는 완수다.</h3>
</div>